.uc_icon_price_table* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.uc_icon_price_table .uc_content_box
{
	font-size:14px;
}

.uc_icon_price_table .uc_content_box .uc_price_box ul
{
  border: 1px solid #f0f0f0;
  padding:0px;
  margin:0px;
  list-style:none;
  text-align:center;
}

.uc_icon_price_table .uc_content_box .uc_price_box ul li
{
	border-bottom:1px solid #f0f0f0;
	padding:13px;
	font-weight:300;
}
.uc_icon_price_table .uc_content_box .uc_price_box ul li span.bbb
{
	font-size:32px;
	font-weight:300;	
}

.uc_icon_price_table .uc_content_box .uc_price_box ul li h3
{
	font-size:36px;
	font-weight:500;
	margin:30px 0 0 0;
}

.uc_icon_price_table .uc_content_box .uc_price_box ul li small
{
	font-size:12px;
	color:#999999;
	display:block;
}
.uc_icon_price_table .uc_content_box .uc_price_box ul li .iconic-box
{
	font-size:40px;
	color:#ffbb42;
    padding:10px 0px;
}

.uc_icon_price_table .uc_content_box ul li:last-child
{
	border-bottom:0;
	padding:32px 13px;
}

.uc_icon_price_table .uc_content_box ul li:nth-child(2)
{
	
	padding-top:0px;
	padding-bottom:25px;
}

.uc_icon_price_table .uc_content_box ul li:first-child
{
	border-bottom:0;
	padding-bottom:0px;
}

.uc_icon_price_table .uc_content_box ul li:nth-child(7)
{
	padding:20px 13px 32px;
}

.uc_icon_price_table .uc_content_box .uc_price_box ul li a.uc_btn{

	border: medium none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    opacity: 1;
    outline: medium none;
    padding: 11px 24px;
	text-decoration:none;
    transition: opacity 0.2s ease 0s;
    margin:10px 0px;
}
